## Importing relavant libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt # Visualization

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

## Reading the dataset

In [2]:
df = pd.read_csv('fifa21_male2.csv')
df.head()

C:\Users\divya\AppData\Local\Temp\ipykernel_20496\2327967980.py:1: DtypeWarning: Columns (78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21_male2.csv')

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,Club Logo,Flag Photo,POT,Team & Contract,Height,Weight,foot,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Contract,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,https://cdn.sofifa.com/teams/55/light_60.png,https://cdn.sofifa.com/flags/it.png,69,Udinese 2008 ~ 2016,"6'0""",181lbs,Left,0,"Jul 1, 2008",NaN,€625K,€7K,€0,2008 ~ 2016,313,75,50,59,71,58.0,338,73,65.0,60,69,71,347,68,74,68.0,69,68.0,347,74,68.0,69,68,68,320,72,69.0,63.0,66.0,50,NaN,208,70,69,69.0,56,14,5,15,10,12,1929,408,3 ★,2★,Medium,High,2 ★,71,59,70,71,68,69,4,65+0,65+0,65+0,68+0,67+0,67+0,67+0,68+0,68+0,68+0,68+0,69+0,69+0,69+0,69+0,69+0,71+-2,70+-1,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,https://cdn.sofifa.com/teams/2013/light_60.png,https://cdn.sofifa.com/flags/es.png,71,KAS Eupen 2014 ~ 2019,"5'10""",143lbs,Right,0,"Jul 19, 2014",NaN,€600K,€7K,€1.1M,2014 ~ 2019,337,68,64,61,76,68.0,369,69,79.0,79,71,71,305,56,50,62.0,65,72.0,324,75,54.0,64,60,71,362,71,71.0,72.0,73.0,75,79.0,153,70,43,40.0,56,9,12,13,11,11,1906,385,4 ★,3★,Medium,Medium,1 ★,53,69,73,69,58,63,4,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,https://cdn.sofifa.com/teams/1800/light_60.png,https://cdn.sofifa.com/flags/gb-eng.png,71,Coventry City 2016 ~ 2020,"5'9""",161lbs,Right,0,"Jan 7, 2016",NaN,€1.1M,€15K,€0,2016 ~ 2020,337,80,64,41,77,75.0,387,79,84.0,77,69,78,295,48,42,71.0,59,75.0,284,72,58.0,29,56,69,317,69,39.0,69.0,74.0,66,NaN,99,35,34,30.0,51,9,6,13,16,7,1770,354,4 ★,4★,Medium,Low,2 ★,45,68,76,77,36,52,11,64+0,64+0,64+0,70+0,69+0,69+0,69+0,70+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,68+0,52+0,54+0,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,https://cdn.sofifa.com/teams/106/light_60.png,https://cdn.sofifa.com/flags/tt.png,82,Sunderland 2009,"5'11""",165lbs,Right,14,NaN,NaN,€0,€0,€0,2009,264,54,70,60,80,NaN,255,68,NaN,46,64,77,176,59,62,NaN,55,NaN,239,63,NaN,51,66,59,271,59,70.0,72.0,NaN,70,NaN,75,34,41,NaN,68,5,21,64,21,21,1348,369,3 ★,1★,NaN,NaN,1 ★,61,66,66,69,47,60,3,67+0,67+0,67+0,66+0,67+0,67+0,67+0,66+0,70+0,70+0,70+0,66+0,68+0,68+0,68+0,66+0,56+0,65+0,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,https://cdn.sofifa.com/teams/101146/light_60.png,https://cdn.sofifa.com/flags/es.png,81,Vissel Kobe 2018 ~ 2021,"5'7""",150lbs,Right,0,"Jul 16, 2018",NaN,€5.5M,€12K,€7.2M,2018 ~ 2021,367,75,69,54,90,79.0,408,85,80.0,70,83,90,346,61,56,79.0,75,75.0,297,67,40.0,58,62,70,370,58,70.0,78.0,93.0,71,89.0,181,68,57,56.0,45,6,13,6,13,7,2014,420,4 ★,4★,High,Medium,4 ★,58,70,85,85,63,59,149,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

## Summary statistics for numeric columns in the DataFrame

In [3]:
df.describe()

,ID,Age,OVA,BOV,POT,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY
count,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17067.000000,17125.000000,17125.000000,17067.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17067.000000,17125.000000,17067.000000,17125.000000,17125.000000,17067.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17118.000000,17118.000000,17067.000000,17125.000000,16702.000000,17125.000000,17125.000000,17125.000000,17067.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000,17125.000000
mean,219388.716204,25.272934,66.965022,67.900204,72.489810,5.524788,258.537752,51.621314,47.956672,53.598832,60.507620,45.005742,266.607591,57.846423,49.574676,44.387270,54.324321,60.642803,322.693664,65.445898,65.443036,64.602273,62.924847,64.715591,302.414774,59.711416,65.170212,63.309606,65.308555,49.135708,261.922803,56.997839,47.085582,52.372766,55.443605,50.251445,59.940965,141.469898,47.246949,48.279358,46.099725,77.609693,15.600467,15.484672,15.472058,15.514277,15.738628,1631.256175,361.372146,68.091620,54.967299,58.926540,64.209869,50.266102,64.910715
std,37499.197507,4.942665,6.864329,6.637538,5.769949,5.787539,72.255687,17.875715,19.391547,16.947164,13.960635,17.729483,76.809344,18.047250,18.188344,17.504128,14.856911,15.873647,54.933593,14.657889,14.437377,14.372443,9.037279,14.031563,49.380576,13.417931,11.918063,15.313272,12.627212,19.044862,62.913935,17.021619,20.846705,19.094432,13.730080,15.696363,11.751111,61.595180,20.182548,21.483597,21.185154,81.136603,16.828637,16.143679,15.997328,16.406064,17.130908,260.357024,40.252290,11.147116,13.877605,10.186728,9.832734,16.853801,9.660260
min,2.000000,16.000000,38.000000,42.000000,47.000000,-1.000000,33.000000,6.000000,3.000000,5.000000,7.000000,4.000000,43.000000,5.000000,4.000000,5.000000,9.000000,5.000000,113.000000,12.000000,11.000000,14.000000,24.000000,17.000000,128.000000,12.000000,22.000000,11.000000,16.000000,4.000000,50.000000,9.000000,4.000000,2.000000,10.000000,7.000000,12.000000,17.000000,3.000000,5.000000,6.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,731.000000,228.000000,25.000000,16.000000,25.000000,28.000000,12.000000,27.000000
25%,204082.000000,21.000000,62.000000,64.000000,69.000000,0.000000,232.000000,41.000000,33.000000,46.000000,56.000000,32.000000,232.000000,53.000000,37.000000,32.000000,45.000000,57.000000,294.000000,58.000000,59.000000,57.000000,57.000000,57.000000,272.000000,50.000000,58.000000,56.000000,58.000000,35.000000,235.000000,45.000000,26.000000,43.000000,47.000000,40.000000,53.000000,84.000000,29.000000,28.000000,25.000000,48.000000,8.000000,8.000000,8.000000,8.000000,8.000000,1492.000000,333.000000,62.000000,46.000000,52.000000,59.000000,35.000000,59.000000
50%,228961.000000,25.000000,67.000000,68.000000,72.000000,4.000000,271.000000,56.000000,52.000000,57.000000,63.000000,46.000000,279.000000,63.000000,51.000000,43.000000,57.000000,64.000000,331.000000,68.000000,68.000000,67.000000,63.000000,67.000000,308.000000,61.000000,66.000000,66.000000,67.000000,53.000000,269.000000,60.000000,53.000000,57.000000,57.000000,51.000000,61.000000,158.000000,52.000000,55.000000,52.000000,53.000000,11.000000,11.000000,11.000000,11.000000,11.000000,1659.000000,362.000000,69.000000,58.000000,60.000000,65.000000,53.000000,66.000000
75%,243911.000000,29.000000,72.000000,72.000000,76.000000,9.000000,306.000000,65.000000,64.000000,65.000000,69.000000,59.000000,319.000000,70.000000,64.000000,58.000000,65.000000,70.000000,360.000000,75.000000,75.000000,75.000000,69.000000,75.000000,339.000000,70.000000,73.000000,73.000000,74.000000,64.000000,304.000000,70.000000,65.000000,66.000000,65.000000,62.000000,68.000000,194.000000,64.000000,66.000000,64.000000,59.000000,14.000000,14.000000,14.000000,14.000000,14.000000,1812.000000,390.000000,75.000000,65.000000,66.000000,71.000000,64.000000,72.000000
max,259105.000000,53.000000,93.000000,93.000000,95.000000,26.000000,437.000000,94.000000,95.000000,93.000000,94.000000,90.000000,470.000000,96.000000,94.000000,94.000000,93.000000,96.000000,464.000000,97.000000,96.000000,96.000000,96.000000,97.000000,444.000000,95.000000,95.000000,97.000000,97.000000,94.000000,421.000000,96.000000,95.000000,96.000000,95.000000,94.000000,96.000000,272.000000,94.000000,93.000000,95.000000,440.000000,90.000000,92.000000,93.000000,93.000000,90.000000,2316.000000,498.000000,96.000000,93.000000,93.000000,95.000000,91.000000,93.000000

## Check the datatypes of columns

In [4]:
df.dtypes

ID                    int64
Name                 object
Age                   int64
OVA                   int64
Nationality          object
Club                 object
BOV                   int64
BP                   object
Position             object
Player Photo         object
Club Logo            object
Flag Photo           object
POT                   int64
Team & Contract      object
Height               object
Weight               object
foot                 object
Growth                int64
Joined               object
Loan Date End        object
Value                object
Wage                 object
Release Clause       object
Contract             object
Attacking             int64
Crossing              int64
Finishing             int64
Heading Accuracy      int64
Short Passing         int64
Volleys             float64
Skill                 int64
Dribbling             int64
Curve               float64
FK Accuracy           int64
Long Passing          int64
Ball Control          int64
Movement              int64
Acceleration          int64
Sprint Speed          int64
Agility             float64
Reactions             int64
Balance             float64
Power                 int64
Shot Power            int64
Jumping             float64
Stamina               int64
Strength              int64
Long Shots            int64
Mentality             int64
Aggression            int64
Interceptions       float64
Positioning         float64
Vision              float64
Penalties             int64
Composure           float64
Defending             int64
Marking               int64
Standing Tackle       int64
Sliding Tackle      float64
Goalkeeping           int64
GK Diving             int64
GK Handling           int64
GK Kicking            int64
GK Positioning        int64
GK Reflexes           int64
Total Stats           int64
Base Stats            int64
W/F                  object
SM                   object
A/W                  object
D/W                  object
IR                   object
PAC                   int64
SHO                   int64
PAS                   int64
DRI                   int64
DEF                   int64
PHY                   int64
Hits                 object
LS                   object
ST                   object
RS                   object
LW                   object
LF                   object
CF                   object
RF                   object
RW                   object
LAM                  object
CAM                  object
RAM                  object
LM                   object
LCM                  object
CM                   object
RCM                  object
RM                   object
LWB                  object
LDM                  object
CDM                  object
RDM                  object
RWB                  object
LB                   object
LCB                  object
CB                   object
RCB                  object
RB                   object
GK                   object
Gender               object
dtype: object

## Check the shape of dataframe

In [5]:
df.shape

(17125, 107)

## Extracting some basic columns below

In [6]:
# Create new pandas DataFrame
df_fifa = df[['ID','Name','Age','Gender','Club','Height','Weight','Joined','Value','Wage','Release Clause','Hits','Team & Contract']]
df_fifa.head()

,ID,Name,Age,Gender,Club,Height,Weight,Joined,Value,Wage,Release Clause,Hits,Team & Contract
0,2,G. Pasquale,33,Male,Udinese,"6'0""",181lbs,"Jul 1, 2008",€625K,€7K,€0,4,Udinese 2008 ~ 2016
1,16,Luis García,37,Male,KAS Eupen,"5'10""",143lbs,"Jul 19, 2014",€600K,€7K,€1.1M,4,KAS Eupen 2014 ~ 2019
2,27,J. Cole,33,Male,Coventry City,"5'9""",161lbs,"Jan 7, 2016",€1.1M,€15K,€0,11,Coventry City 2016 ~ 2020
3,36,D. Yorke,36,Male,Sunderland,"5'11""",165lbs,NaN,€0,€0,€0,3,Sunderland 2009
4,41,Iniesta,36,Male,Vissel Kobe,"5'7""",150lbs,"Jul 16, 2018",€5.5M,€12K,€7.2M,149,Vissel Kobe 2018 ~ 2021

## Check for missing values

In [7]:
df_fifa.isnull().sum()

ID                  0
Name                0
Age                 0
Gender              0
Club               23
Height              0
Weight              0
Joined             58
Value               0
Wage                0
Release Clause      0
Hits                0
Team & Contract     0
dtype: int64

In [8]:
df_fifa[['Team & Contract', 'Club', 'Joined' ]].head(30)

                     Team & Contract                  Club        Joined
0                Udinese 2008 ~ 2016               Udinese   Jul 1, 2008
1              KAS Eupen 2014 ~ 2019             KAS Eupen  Jul 19, 2014
2          Coventry City 2016 ~ 2020         Coventry City   Jan 7, 2016
3                    Sunderland 2009            Sunderland           NaN
4            Vissel Kobe 2018 ~ 2021           Vissel Kobe  Jul 16, 2018
5       Alemannia Aachen 2011 ~ 2012      Alemannia Aachen   Jan 1, 2011
6          Fenerbahçe SK 2019 ~ 2020         Fenerbahçe SK   Jul 2, 2019
7      Manchester United 1990 ~ 2014     Manchester United   Dec 1, 1990
8      Manchester United 1991 ~ 2011     Manchester United   Jan 1, 1991
9      Manchester United 1993 ~ 2013     Manchester United   Jul 8, 1993
10               Everton 2005 ~ 2013               Everton   Aug 1, 2005
11                      England Free                   NaN   Jan 1, 2013
12             LA Galaxy 2011 ~ 2022             LA Galaxy   Aug 1, 2011
13      Newcastle United 2010 ~ 2011      Newcastle United   Sep 2, 2010
14            FC Bayern München 2008     FC Bayern München           NaN
15    Milton Keynes Dons 2010 ~ 2011    Milton Keynes Dons   Sep 2, 2010
16                    Hull City 2009             Hull City           NaN
17       Pohang Steelers 2005 ~ 2013       Pohang Steelers   Jan 1, 2005
18        Leicester City 2015 ~ 2016        Leicester City   Jan 6, 2015
19                VfB Stuttgart 2010         VfB Stuttgart           NaN
20                      Hungary Free               Hungary   Jul 1, 2015
21  FC Anzhi Makhachkala 2011 ~ 2013  FC Anzhi Makhachkala   Jan 1, 2011
22                 Inter 1995 ~ 2014                 Inter   Jul 1, 1995
23             Sydney FC 2012 ~ 2014             Sydney FC   Sep 1, 2012
24       Montreal Impact 2012 ~ 2013       Montreal Impact   Jul 1, 2012
25                        Milan 2009                 Milan           NaN
26              Juventus 2019 ~ 2021              Juventus   Jul 4, 2019
27                     Juventus 2010              Juventus           NaN
28                        Parma 2007                 Parma           NaN
29                 Milan 2001 ~ 2012                 Milan   Jan 1, 2001

#### Observations 
1. Team & Contract column contains some information which is similar to the values in Club and Joined columns.
2. There are players that are currently not associated with any specific club, therefore we can drop these players as they are more suited to be labelled under different category.

In [9]:
# Drop rows in which players are labelled as free players
df_fifa = df_fifa[~df_fifa['Team & Contract'].str.contains('Free', na=False)]

# Count missing values in the data frame
df_fifa.isnull().sum()

ID                  0
Name                0
Age                 0
Gender              0
Club                0
Height              0
Weight              0
Joined             51
Value               0
Wage                0
Release Clause      0
Hits                0
Team & Contract     0
dtype: int64

In [10]:
import numpy as np

# Extract the first set of years from 'Team & Contract' column (only if it's exactly four digits)
extracted_years = df_fifa['Team & Contract'].str.findall(r'\b(\d{4})\b').str[0]

# Impute missing values with NaT if no set of four digits (year) is found
df_fifa['Joined'] = np.where(extracted_years.isnull(), pd.NaT, extracted_years)

In [11]:
df_fifa.isnull().sum()

ID                 0
Name               0
Age                0
Gender             0
Club               0
Height             0
Weight             0
Joined             3
Value              0
Wage               0
Release Clause     0
Hits               0
Team & Contract    0
dtype: int64

In [12]:
# Show rows with NaT values in 'Joined' column
null_rows = df_fifa[df_fifa['Joined'].isnull()][['Joined', 'Team & Contract']]
null_rows

     Joined Team & Contract
1425    NaT          111648
1426    NaT          111648
1427    NaT          111648

In [13]:
df_fifa = df_fifa.dropna(subset=['Joined'])

## Check data types of Height and Weight

In [14]:
print(df_fifa[['Height','Weight']].dtypes)

# Top 5 rows of Height and Weight
df_fifa[['Height','Weight',]].head()

Height    object
Weight    object
dtype: object

  Height  Weight
0   6'0"  181lbs
1  5'10"  143lbs
2   5'9"  161lbs
3  5'11"  165lbs
4   5'7"  150lbs

In [15]:
# Change Height into numerical variable

def convert_to_feet(height_str):
  feet, inches = height_str.split("'")
  feet = int(feet) # Convert to numeric
  inches = float(inches.strip('\"'))
  total_height_feet = round((feet + inches / 12), 2)

  return total_height_feet

# Transform
df_fifa['Height'] = df_fifa['Height'].apply(convert_to_feet)

In [16]:
import re
# Function to convert weight string to numeric value
def convert_weight(weight_str):
    numeric_weight = re.sub(r'\D', '', weight_str)
    return int(numeric_weight)

# Apply the conversion function to the 'Weight' column
df_fifa['Weight'] = df_fifa['Weight'].apply(convert_weight)

# Rename column 'Weight' to 'Weight(lbs)'
df_fifa = df_fifa.rename(columns={'Weight': 'Weight(lbs)'})

# Show the data types
df_fifa[['Height','Weight(lbs)']].dtypes

Height         float64
Weight(lbs)      int64
dtype: object

## Check data types of Value, Wage and Release Clause

In [17]:
# Show the data types
df_fifa[['Value','Wage','Release Clause']].dtypes

Value             object
Wage              object
Release Clause    object
dtype: object

In [18]:
# Top 5 rows of 'Value', 'Wage' and 'Release Clause'
df_fifa[['Value','Wage','Release Clause']].head(5)

   Value  Wage Release Clause
0  €625K   €7K             €0
1  €600K   €7K          €1.1M
2  €1.1M  €15K             €0
3     €0    €0             €0
4  €5.5M  €12K          €7.2M

In [19]:
# Function to convert string value to integer
def convert_money(money_str):
    multiplier = 1  # Default multiplier for values without 'K' or 'M' suffix

    if money_str.endswith('K'):
        multiplier = 1000
        money_str = money_str[:-1]  # Remove the 'K' suffix
    elif money_str.endswith('M'):
        multiplier = 1000000
        money_str = money_str[:-1]  # Remove the 'M' suffix

    money_str = money_str[1:]  # Remove the euro symbol

    return int(float(money_str) * multiplier) # Return integer value

In [20]:
# Apply the conversion function to the 'Value' , 'Wage' and 'Release Clause' column
df_fifa['Value'] = df_fifa['Value'].apply(convert_money)
df_fifa['Wage'] = df_fifa['Wage'].apply(convert_money)
df_fifa['Release Clause'] = df_fifa['Release Clause'].apply(convert_money)

In [21]:
# Show the data types
df_fifa[['Value','Wage','Release Clause']].dtypes

Value             int64
Wage              int64
Release Clause    int64
dtype: object

## Convert the 'Joined' column to datetime type

In [22]:
df_fifa['Joined'] = pd.to_datetime(df_fifa['Joined'])

# Extract year, month, and day components into separate columns
df_fifa['Year'] = df_fifa['Joined'].dt.year.astype(int)
df_fifa['Month'] = df_fifa['Joined'].dt.month.astype(int)
df_fifa['Day'] = df_fifa['Joined'].dt.day.astype(int)

# Top 5 rows of 'Joined', 'Year', 'Month' and 'Day' columns
df_fifa[['Joined','Year','Month','Day']].head()

      Joined  Year  Month  Day
0 2008-01-01  2008      1    1
1 2014-01-01  2014      1    1
2 2016-01-01  2016      1    1
3 2009-01-01  2009      1    1
4 2018-01-01  2018      1    1